.SwipeZone{
    border-radius: 10px;
    /* border: solid #778899; */
    width: 95vw;
    height: calc(95vw * 0.5625);
    max-height: 90vh;
    max-width: calc(90vh * 1.78); /* maintain a 16:9 aspect ratio */
    margin: auto;
    text-align: center;
    background-color: #eaebec;
    overflow-y:hidden;
    overflow-x:auto;
    white-space: nowrap;
}